@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-poppins), sans-serif;
}

/* Transiciones globales para que el cambio de color sea suave */
* {
  transition-property: background-color, border-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

body {
  background-color: #f8fafc;
  color: #171717;
}

/* El fondo puro y elegante para el modo oscuro */
.dark body {
  background-color: #0a0a0a !important;
  color: #ededed !important;
}